h1{
    text-align: center;
    background-color: lightgrey; 
}

body{
    background-color: beige;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkolivegreen;
    margin: 17px
}

iframe{
    text-align: center;
}

nav{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: darkolivegreen
}

ol{
    position: relative;
    display: inline-block;
}

ul{
    position: relative;
    display: inline;
}

.footer{
    height: 25px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 35px;
    position: fixed;
    text-align: center;
    background-color: lightgray;
}

nav a{
    float: left;
    color: darkolivegreen;
    padding: 13px 13px;
    font-size: 18px;
    font-weight: bold;
    background-color: lightgray;
}

